<section id="features" class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h1 style="color: deepskyblue" >
                4 Rides available for destination
            </h1>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="height:250px;">
          <div class="device-container">
            <div class="col-md-offset-2">
              <h3 >
                  Date
              </h3>
            </div>
          <br>
              <div class="input-group date" style="width:80%">
                  <input type="text" class="form-control"  value="12-02-2012">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-8">

            <div class="thumbnail tile tile-wide tile-orange">
              <br>
               <div class="col-md-3">
                 <img alt="Employee Image" style="height:100%">
                 <div>
                    Employee Name
                 </div>
                 <div>
                    Designation
                 </div>

               </div>
               <div class="col-md-6">
                  <p>Route Details</p>

                </div>
                <div class="col-md-3">
                    <p>Cost Details Seats left</p>

                  </div>
              </div>
              <div class="thumbnail tile tile-wide tile-orange">
                  <br>
                   <div class="col-md-3">
                     <img alt="Employee Image" style="height:100%">
                     <div>
                        Employee Name
                     </div>
                     <div>
                        Designation
                     </div>

                   </div>
                   <div class="col-md-6">
                      <p>Route Details</p>

                    </div>
                    <div class="col-md-3">
                        <p>Cost Details Seats left</p>

                      </div>
                  </div>
                  <div class="thumbnail tile tile-wide tile-orange">
                      <br>
                       <div class="col-md-3">
                         <img alt="Employee Image" style="height:100%">
                         <div>
                            Employee Name
                         </div>
                         <div>
                            Designation
                         </div>

                       </div>
                       <div class="col-md-6">
                          <p>Route Details</p>

                        </div>
                        <div class="col-md-3">
                            <p>Cost Details Seats left</p>

                          </div>
                      </div>
                      <div class="thumbnail tile tile-wide tile-orange">
                          <br>
                           <div class="col-md-3">
                             <img alt="Employee Image" style="height:100%">
                             <div>
                                Employee Name
                             </div>
                             <div>
                                Designation
                             </div>

                           </div>
                           <div class="col-md-6">
                              <p>Route Details</p>

                            </div>
                            <div class="col-md-3">
                                <p>Cost Details Seats left</p>

                              </div>
                          </div>
        </div>
      </div>
    </div>
  </section>
