<!-- <label > Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
{{serverName}}

<button type="button" class="btn btn-primary" [disabled]="!allowNewService" (click)="onButtonClick()">add server</button>
<p> {{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>-->
<app-main-nav></app-main-nav>

<!-- <app-page-header></app-page-header> -->

<app-page-download></app-page-download>
 <app-page-features></app-page-features>

<app-page-cta></app-page-cta>

<app-page-contact></app-page-contact>

<app-page-footer></app-page-footer>
